body {
	padding: 10px;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
		Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	line-height: 1.6;
	font-size: 18px;
}
body{
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family:  "Montserrat", sans-serif;
    color:#000;
}
*{
    box-sizing: border-box;
    color:#000;
}
.main-container{
    max-width: 400px;
    max-width: 500px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0  100px rgba(13, 109, 228, 0.5);
   
}
.search{
    gap: 3px;
   height: 100px;
}
.search input{
    width: 250px;
    height: 40px;
    margin: 30px 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    outline: none;
}
.search-icon{
    width: 40px;
    height: 40px;
    margin-top: 30px;
    border-radius: 50%;
    background-color: #fff;
}
.weather-icon{
    height: 150px;
    width: inherit;
    left: 50%;
    transition: 0.2s;
    visibility: hidden;
}
.weather-icon img{
   width: 150px;
   height: 150px;    
}

.temp{
    height: 70px;
}
.temp h2, .state h2{
    font-size: 50px;
    color: #000;
}
.state{
    height: 50px;
}
.info{
    color: #fff;
    margin-top: 40px;
    padding-bottom: 40px;
}
.current-condition i, .wind-speed i{
    font-size: 30px;
}
.search input:hover, .search-icon > .bx-search{
    cursor: pointer;
   
}
.search input:hover{
    background-color: #add6e3;
    color: #000;
    transition: 0.25s;
}
.search-icon:hover{
    background-color: #add6e3;
    transition: 0.25s;
}

/* This are some utility classes */
.flex{
    display: flex;
}
.red-border{
    border: 2px solid red;
}
.green-border{
    border: 2px solid green;
}
.justify-content{
    justify-content: center;
}
.align-items{
    align-items: center;
}
.space-around{
    justify-content: space-around;
}
.grid{
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: -40px;
}
.flex-direction{
    flex-direction: column;
}
.visible{
    visibility: visible;
}
